*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 12rem;
    background-color: rgb(139, 139, 212);
    border: .5rem solid black;
}
section{
    width: 100%;
    height: 23rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
}
footer{
    width: 100%;
    height: 5rem;
    background-color: rgb(163, 90, 90);
    border: .5rem solid black;
}
.articleOne{
    width: 35%;
    height: 50%;
    border: .2rem solid black;
    background-color: rgb(146, 101, 189);
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 1rem;
}
.articleTwo{
    width: 35%;
    height: 50%;
    border: .2rem solid black;
    background-color: rgb(146, 101, 189);
    display: flex;
    justify-content: start;
    flex-direction: row;
    margin: 1rem;
}
/* .articleThree{
    width: 70%;
    height: 20%;
    border: .2rem solid black;
    flex-direction: column;
    display: flex;
    justify-content: start;
} */
aside{
    height: 90%;
    border: .2rem solid black;
    width: 25%;
    background-color: rgb(240, 240, 114);
    justify-content: start;
    margin: 1rem;

}